
<section id="about" class="container-fluid">
    <div  class="row about-section" *ngIf="about">
        <div class="col-lg-4 about-card">
            <div class="admin-icon-container" *ngIf="isAdmin">
                <fa-icon [icon]="faPenToSquare" class="admin-icon edit-icon" routerLink="/editabout/1"></fa-icon>
                <!-- <fa-icon [icon]="faTrashCan" class="admin-icon delete-icon"></fa-icon> -->
            </div>
            <h3 class="font-weight-light">Quien soy?</h3>
            <span class="line mb-5"></span>
            <!-- <h5 class="mb-3">Soy un desarrollador web full stack, especializado en front-end con React.js.</h5> -->
            <!-- <p class="mt-20">Capacitado en Digital House en Programación, y Fundación Formar en habilidades blandas y metodologías ágiles para una mayor eficiencia en el trabajo grupal y/o individual; actualmente me encuentro estudiando en Argentina Programa, Angular con POO</p> -->
            <h5 class="mb-3">{{ about.title }} </h5>
            <p class="mt-20">{{ about.info }}</p>
            <!-- <button class="btn btn-outline-danger"><i class="icon-down-circled2 "></i>Descargar CV</button> -->
        </div>
        <div class="col-lg-4 about-card">
            <div class="admin-icon-container" *ngIf="isAdmin">
                <fa-icon [icon]="faPenToSquare" class="admin-icon edit-icon" routerLink="/editpersona/1"></fa-icon>
                <!-- <fa-icon [icon]="faTrashCan" class="admin-icon delete-icon"></fa-icon> -->
            </div>

            <h3 class="font-weight-light">Información personal</h3>
            <span class="line mb-5"></span>
            <ul class="mt40 info list-unstyled" *ngIf="persona">
                <li><span>Nombre</span>: {{persona.nombre}} {{ persona.apellido }} </li>
                <li><span>Nacimiento</span> : {{ persona.nacimiento }} </li>
                <li><span>Nacionalidad</span> {{persona.nacionalidad}} </li>
                <li><span>Domicilio</span> : {{persona.domicilio}} </li>
                {{asd}}
            </ul>

        </div>
        <div class="col-lg-4 about-card">
            <!-- <div class="admin-icon-container">
                <fa-icon [icon]="faPenToSquare" class="admin-icon edit-icon"></fa-icon>
                <fa-icon [icon]="faTrashCan" class="admin-icon delete-icon"></fa-icon>
            </div> -->

            <h3 class="font-weight-light">Especialidades</h3>
            <span class="line mb-5"></span>

            <div class="row ">
                <div class="col-3 col-sm-1 faIcon text-danger pt-1"><fa-icon [icon]="faShop" class="icon-lg"></fa-icon></div>
                <div class="col-9 col-sm-10  ml-auto mr-3 specialtxt" >
                    <h6>E-commerce</h6>
                    <p class="subtitle">Tienda SPA con o sin SEO</p>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-3 col-sm-1 faIcon text-danger pt-1"><fa-icon [icon]="faIdCard" class="icon-lg"></fa-icon></div>
                <div class="col-9 col-sm-10  ml-auto mr-3 specialtxt" >
                    <h6>Portafolios y conexión profesional</h6>
                    <p class="subtitle">Comparte tu CV de forma mas elegante!</p>
                    <hr>
                </div>
            </div>

            <div class="row" >
                <div class="col-3 col-sm-1 faIcon text-danger pt-1"><fa-icon [icon]="faPager" class="icon-lg"></fa-icon></div>
                <div class="col-9 col-sm-10  ml-auto mr-3 specialtxt" >
                    <h6>Landing pages</h6>
                    <p class="subtitle">Muestra la información de tus productos, y llegá a mas clientes!</p>
                    <hr>
                </div>
            </div>
         
        </div>
    </div>
</section>
