


.about-section {
    border-bottom: 1px solid #dee2e6;
    /* padding-top: 50px; */
  }

  .about-section .about-card {
    position: relative;
    padding: 10px 30px ;
    border-right: 1px solid #dee2e6;
    margin-top: 100px;
  }

  
  .about-section .about-card:last-child {
    border-right: none;
  }

.about .special-txt{
    padding: 0 40px;
}
.faIcon{
  text-align: center;
}
@media (min-width: 991px) {

    .about-section .about-card {
        padding: 60px ;
        border-right: 1px solid #dee2e6;
      }
      .specialtxt{
       padding-left: 30px;
      }
    
}