
<section id="about" class="container-fluid">
    <div  class="container  about-section" *ngIf="about">
        <div class="position-relative d-flex align-items-center justify-content-center col-12">
            <h2 class="display-1 text-uppercase text-white title-section" style="-webkit-text-stroke: 1px #dee2e6;" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">Sobre Mi</h2>
            <h2 class="display-2  position-absolute text-uppercase text-primary subtitle-section" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">Quien soy?</h2>
 
            <button class="btn btn-primary add-icon" type="button" routerLink="/editabout/1" *ngIf="isAdmin">
                <fa-icon [icon]="faPenToSquare" class="admin-icon "></fa-icon>
            </button>
        </div>

        <div class="col-10 descripcion-container">
            <div class="descripcion">
                
                <h5 class="mb-3">{{ about.title }} </h5>
                <p class="mt-20">{{ about.info }}</p>
            </div>
        </div>


        <div class="row">
                <!-- INFO PERSONAL -->
            <div class="col-lg-4 about-card" data-aos="fade-left" data-aos-duration="1000">
                <div class="admin-icon-container" *ngIf="isAdmin">
                    <fa-icon [icon]="faPenToSquare" class="admin-icon edit-icon" routerLink="/editpersona/1"></fa-icon>
                    <!-- <fa-icon [icon]="faTrashCan" class="admin-icon delete-icon"></fa-icon> -->
                </div>
    
                <h3 class="font-weight-light">Información personal</h3>
                <span class="line mb-5"></span>
                <ul class="mt40 info list-unstyled" *ngIf="persona">
                    <li><span>Nombre</span>: {{persona.nombre}} </li>
                    <li><span>Apellido</span>: {{ persona.apellido }} </li>
                    <li><span>Nacimiento</span> : {{ persona.nacimiento }} </li>
                    <li><span>Nacionalidad</span> {{persona.nacionalidad}} </li>
                    <li><span>Domicilio</span> : {{persona.domicilio}} </li>
                    {{asd}}
                </ul>
    
            </div>
                <!-- FORMACION -->
            <div class="col-lg-4 about-card" data-aos="fade-up" data-aos-duration="1000">

                <div class="add-icon">

                    <button class="btn btn-danger add-btn" type="button"  routerLink="/newformacion" *ngIf="isAdmin" >
                        <fa-icon [icon]="faPlus" class=" admin-icon "></fa-icon>
                    </button>
                </div>
    
                <h3 class="font-weight-light">Formación</h3>
                <span class="line mb-5"></span>
    
                <div class="row ">

  
                    <div class="" *ngFor="let forma of formacion">

                        <div class="card-container">
                            <div class="icon-container " *ngIf="isAdmin">
              
                                <fa-icon 
                                    routerLink="/editformacion/{{forma.id}}"
                                    [icon]="faPenToSquare" 
                                    class="admin-icon edit-icon"
                                >
                                </fa-icon>
                
                                <fa-icon 
                                    (click)="deleteFormacion(forma.id)"
                                    [icon]="faTrashCan" 
                                    class="admin-icon delete-icon"
                                >
                                </fa-icon>
                
                            </div>

                            <span class="fecha">  {{ forma.fecha }} - </span>
                            <div class="">
                                <h5>{{forma.title}}</h5>
                                <h6>{{forma.subtitle}}</h6>
        
                            </div>
                            <p class="subtitle">{{forma.info}}  </p>
                        </div>
                        <hr>
                    </div>

    
                </div>
    
     
            </div>
                <!-- EXPERIENCIA -->
            <div class="col-lg-4 about-card" data-aos="fade-right" data-aos-duration="1000">

                <div class="add-icon">

                    <button class="btn btn-danger add-btn" type="button" routerLink="/newexperiencia" *ngIf="isAdmin" >
                        <fa-icon [icon]="faPlus" class=" admin-icon "></fa-icon>
                    </button>
                </div>
    
                <h3 class="font-weight-light">Experiencia laboral</h3>
                <span class="line mb-5"></span>

                <div *ngFor="let exp of experiencia">
                    <div class="card-container">

                        <div class="icon-container " *ngIf="isAdmin">
                  
                            <fa-icon 
                                routerLink="/editexperiencia/{{exp.id}}"
                                [icon]="faPenToSquare" 
                                class="admin-icon edit-icon"
                            >
                            </fa-icon>
            
                            <fa-icon 
                                (click)="deleteExperiencia(exp.id)"
                                [icon]="faTrashCan" 
                                class="admin-icon delete-icon"
                            >
                            </fa-icon>
            
                        </div>
                        <span class="fecha"> {{ exp.fecha }} - </span><h6>{{exp.title}}</h6>
                        <p>{{exp.info}}</p>
                    </div>
                    <hr>
                </div>


            </div>
        </div>
    </div>
</section>
