
.descripcion-container{
  text-align: center;
  border: 1px solid #dee2e6;
  margin: auto;
  border-radius: 10px;
}
.descripcion{
  padding: 10px;

}

.circle-container{
  display: flex;
  gap: 35px;
}
.add-icon{
  position: absolute;
  right: 10px;
  padding: 1px;

}

.add-btn{
  padding: 0;
}
.icon-container{
 /* display: flex;
 justify-content: right; */
 position: absolute;
 right: 50px;
}
.card-container{
  background-color: #d3d7da4b;
  padding: 10px;
}
.about-section {
    border-bottom: 1px solid #dee2e6;
    padding-top: 70px;
  }

  .about-section .about-card {
    position: relative;
    padding: 10px 30px ;
    border-right: 1px solid #dee2e6;
    /* margin-top: 100px; */
  }

  
  .about-section .about-card:last-child {
    border-right: none;
  }

.about .special-txt{
    padding: 0 40px;
}
.faIcon{
  text-align: center;
}
.fecha{
  color: var(--red) ;
  font-style: oblique;
}
@media (min-width: 991px) {

    .about-section .about-card {
        padding: 40px ;
        border-right: 1px solid #dee2e6;
      }
      .specialtxt{
       padding-left: 30px;
      }
    
}