<div class=" add-project-container" *ngIf="formacion">
    <div class="container project">
        <h1 class="title-project">Actualizar Formacion</h1>

        <div class="row project-box">
            <form [formGroup]="form" (ngSubmit)="onUpdate($event)" novalidate #f="ngForm" class="col-12 col-sm-8 col-lg-5">


                <div class="form-group">
    
                    <label for="fecha">Fecha</label>
                    <input 
                    formControlName="fecha"
                    [ngClass]="{'is-invalid': Fecha?.errors && Fecha?.touched, 'is-valid': !Fecha?.errors && Fecha?.touched}"
                   
                    type="text" class="form-control" id="fecha" name="fecha" [(value)]="form.value.fecha" required>
                    <div *ngIf="Fecha?.errors && Fecha?.touched">
                        <p *ngIf="Fecha?.hasError('required')" class="text-danger">
                            la fecha es requerida
                        </p>
                    </div>

                    <label for="title">Titulo</label>
                    <input 
                    formControlName="title"
                    [ngClass]="{'is-invalid': Title?.errors && Title?.touched, 'is-valid': !Title?.errors && Title?.touched}"
                    
                    type="text" class="form-control" id="title" name="title" [(value)]="form.value.title"  required>
                    <div *ngIf="Title?.errors && Title?.touched">
                        <p *ngIf="Title?.hasError('required')" class="text-danger">
                            titulo requerido
                        </p>
                    </div>

                    
                    <label for="subtitle">Subtitulo</label>
                    <input 
                    formControlName="subtitle"
                    [ngClass]="{'is-invalid': Subtitle?.errors && Subtitle?.touched, 'is-valid': !Subtitle?.errors && Subtitle?.touched}"
                   
                    type="text" class="form-control" id="subtitle" name="subtitle" [(value)]="form.value.subtitle" required>
                    <div *ngIf="Subtitle?.errors && Subtitle?.touched">
                        <p *ngIf="Subtitle?.hasError('required')" class="text-danger">
                            subtitulo requerido
                        </p>
                    </div>


                    <label for="info">Información</label>
                    <input 
                    formControlName="info"
                    [ngClass]="{'is-invalid': Info?.errors && Info?.touched, 'is-valid': !Info?.errors && Info?.touched}"
                   
                    type="text" class="form-control" id="info" name="info" [(value)]="form.value.info" required>
                    <div *ngIf="Info?.errors && Info?.touched">
                        <p *ngIf="Info?.hasError('required')" class="text-danger">
                            info requerido
                        </p>
                    </div>
                 
                    
                </div>

                <div class="buttons-container">
                    <button class="btn btn-danger mt-3 align-items-center" routerLink="">
                        Volver
                    </button>

                    <button 
                        class="btn btn-danger mt-3 align-items-center" 
                        
                        >
                        Actualizar
                    </button>
    
                </div>
   
            </form>        
        </div>
    </div>
</div>

