<div class=" add-project-container">
    <div class="container project">
        <h1 class="title-project">Actualizar About</h1>

        <div class="row project-box">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" class="col-12 col-sm-8 col-lg-5">

                <div class="form-group">
    
                    <label for="title">Titulo</label>
                    <!-- <input type="text" class="form-control" id="title" name="title" [(ngModel)]="about.title" required> -->
                    <textarea id="title" name="title" [(ngModel)]="about.title" required
                    cols="30" rows="5"></textarea>
                    <label for="info">Informacion</label>
                    <!-- <input type="text" class="form-control" id="info" name="info" [(ngModel)]="about.info" required> -->
                    <textarea id="info" name="info" [(ngModel)]="about.info" required
                    cols="30" rows="10"></textarea>
                </div>

                <div class="buttons-container">
                    <button class="btn btn-danger mt-3 align-items-center" routerLink="">
                        Volver
                    </button>

                    <button 
                        class="btn btn-danger mt-3 align-items-center" 
                        
                        >
                        Actualizar
                    </button>
    
                </div>
   
            </form>        
        </div>
    </div>
</div>

