<div class=" add-skill-container">
    <div class="container skill">
        <h1 class="title-skill">Agregar experiencia</h1>

        <div class="row skill-box">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm" class="col-12 col-sm-8 col-lg-5">
    
 
                <div class="form-group">
                    <label for="fecha">Fecha</label>
                    <input type="text" class="form-control" id="fecha" name="fecha" [(ngModel)]="fecha"  required>

                    <label for="title">titulo</label>
                    <input type="text" class="form-control" id="title" name="title"  [(ngModel)]="title" required>

                    <label for="info">info</label>
                    <input type="text" class="form-control" id="info" name="info"  [(ngModel)]="info" required>
                   

                </div>

                <div class="buttons-container">
                    <button class="btn btn-danger mt-3 align-items-center" routerLink="">
                        Volver
                    </button>

                    <!-- <button 
                    *ngIf="!imgService.url"
                    disabled
                    class="btn btn-danger mt-3 align-items-center" >
                        Agregar Proyecto
                    </button> -->

                    <button 
                                     
                    class="btn btn-danger mt-3 align-items-center" >
                        Agregar
                    </button>
                </div>
            </form>        
        </div>
    </div>
</div>

