<div class=" add-skill-container">
    <div class="container skill">
        <h1 class="title-skill">Agregar experiencia</h1>

        <div class="row skill-box">
            <form [formGroup]="form" (ngSubmit)="onCreate($event)" novalidate #f="ngForm" class="col-12 col-sm-8 col-lg-5">
    
 
                <div class="form-group">
                    <label for="fecha">Fecha</label>
                    <input 
                    formControlName="fecha"
                    [ngClass]="{'is-invalid': Fecha?.errors && Fecha?.touched, 'is-valid': !Fecha?.errors && Fecha?.touched}"
                    
                    type="text" class="form-control" id="fecha" name="fecha" [(ngModel)]="fecha"  required>
                    <div *ngIf="Fecha?.errors && Fecha?.touched">
                        <p *ngIf="Fecha?.hasError('required')" class="text-danger">
                            la fecha es requerida
                        </p>
                    </div>

                    <label for="title">titulo</label>
                    <input 
                    formControlName="title"
                    [ngClass]="{'is-invalid': Title?.errors && Title?.touched, 'is-valid': !Title?.errors && Title?.touched}"
                    
                    type="text" class="form-control" id="title" name="title"  [(ngModel)]="title" required>
                    <div *ngIf="Title?.errors && Title?.touched">
                        <p *ngIf="Title?.hasError('required')" class="text-danger">
                            titulo requerido
                        </p>
                    </div>

                    <label for="info">info</label>
                    <input 
                    formControlName="info"
                    [ngClass]="{'is-invalid': Info?.errors && Info?.touched, 'is-valid': !Info?.errors && Info?.touched}"
                   
                    type="text" class="form-control" id="info" name="info"  [(ngModel)]="info" required>
                    <div *ngIf="Info?.errors && Info?.touched">
                        <p *ngIf="Info?.hasError('required')" class="text-danger">
                            info requerido
                        </p>
                    </div>
                   

                </div>

                <div class="buttons-container">
                    <button class="btn btn-danger mt-3 align-items-center" routerLink="">
                        Volver
                    </button>

                    <!-- <button 
                    *ngIf="!imgService.url"
                    disabled
                    class="btn btn-danger mt-3 align-items-center" >
                        Agregar Proyecto
                    </button> -->

                    <button 
                                     
                    class="btn btn-danger mt-3 align-items-center" >
                        Agregar
                    </button>
                </div>
            </form>        
        </div>
    </div>
</div>

