<!-- <a href="components.html" class="btn btn-primary btn-component" data-spy="affix" data-offset-top="600"><i class="ti-shift-left-alt"></i> Components</a> -->
<header class="header" >
    <div class="container">


            <img src="assets/imgs/AP.png" alt="Logo Argentina programa" class="ap-logo">

            <button routerLink="login"
                    class="btn btn-danger btn-login"
                    *ngIf="!isLogged"
            >
                Login
            </button>

            <button 
                    (click)="onLogOut()"
                    class="btn btn-danger btn-login"
                    *ngIf="isLogged"
            >
                    Cerrar Session
            </button>

        <!-- <ul class="social-icons pt-5">
          
            <li class="social-item"><a class="social-link text-light" href="#"><fa-icon [icon]="faGithub"></fa-icon></a></li>
            <li class="social-item"><a class="social-link text-light" href="#"><fa-icon [icon]="faWhatsapp"></fa-icon></a></li>
            <li class="social-item"><a class="social-link text-light" href="#"><fa-icon [icon]="faLinkedin"></fa-icon></a></li>
            <li class="social-item"><a class="social-link text-light" href="#"><fa-icon [icon]="faEnvelope"></fa-icon></a></li>
        </ul>   -->
        <div class="header-content row">
            <h4 class="header-subtitle col-sm-12" >Hola!, Yo soy</h4>
            <h1 class="header-title col-sm-12">Ezequiel Zapata</h1>
            <h6 class="header-mono col-sm-12" >Desarrollador web Full Stack</h6>
            
            <!-- <button class="btn btn-danger btn-rounded cv "> -->
                <a
                [href]="cv"
                class="btn btn-danger btn-rounded cv"
                target="_blank"

                rel="noreferrer"
                download
            >
                Curriculum Vitae 
            </a> 
                <!-- <fa-icon [icon]="faCloudArrowDown"></fa-icon> -->
                 
            <!-- </button> -->

        </div>
    </div>
</header>

