<div class=" add-project-container">
    <div class="container project">
        <h1 class="title-project">Agregar Proyecto</h1>

        <div class="row project-box">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm" class="col-12 col-sm-8 col-lg-5">
                <div class="form-group">
                    <label for="title">Titulo del proyecto</label>
                    <input type="text" class="form-control" id="title" name="title" [(ngModel)]="title" required>
                   
                    <div class="mt-2">

                        <textarea 
                            name="" id="" cols="30" rows="10"
                            placeholder="Descripcion"
                            id="descripcion" name="descripcion" [(ngModel)]="descripcion" required
                        ></textarea>
                    </div>

                    <label for="img">imagen</label>
                    <input type="text" class="form-control" id="img" name="img" [(ngModel)]="img" required>
    
                    <label for="giturl">Link GitHub</label>
                    <input type="text" class="form-control" id="giturl" name="giturl" [(ngModel)]="giturl" required>
                    
                    <label for="weburl">Link web</label>
                    <input type="text" class="form-control" id="weburl" name="weburl" [(ngModel)]="weburl" required>
                   
                    
                </div>

                <div class="buttons-container">
                    <button class="btn btn-danger mt-3 align-items-center" routerLink="">
                        Volver
                    </button>

                    <button class="btn btn-danger mt-3 align-items-center" >
                        Agregar Proyecto
                    </button>
                </div>
            </form>        
        </div>
    </div>
</div>
