<div class=" add-project-container">
    <div class="container project">
        <h1 class="title-project">Agregar Proyecto</h1>

        <div class="row project-box">
            <form [formGroup]="form" (ngSubmit)="onCreate($event)" novalidate #f="ngForm" class="col-12 col-sm-8 col-lg-5">
    
                <div class="imagen" *ngIf="imgService.url">
                    <img [src]="imgService.url" alt="" width="200px">

                </div>
                <div class="imagen" *ngIf="!imgService.url">
                    <img 
                        src="https://firebasestorage.googleapis.com/v0/b/devzedportfolio.appspot.com/o/imagen%2Fdefault-placeholder.png?alt=media&token=4c202c29-27ec-450c-b4a5-78eebd195f5a" 
                        alt="" width="200px"
                    >

                </div>
                <div class="form-group">
                    <label for="title">Titulo del proyecto</label>
                    <input 
                    formControlName="title"
                    [ngClass]="{'is-invalid': Title?.errors && Title?.touched, 'is-valid': !Title?.errors && Title?.touched}"
                    
                    type="text" class="form-control" id="title" name="title" [(ngModel)]="title" required>
                    <div *ngIf="Title?.errors && Title?.touched">
                        <p *ngIf="Title?.hasError('required')" class="text-danger">
                            el titulo del proyecto es requerido
                        </p>
                    </div>


                    <div class="mt-2">

                        <textarea 
                            name="" id="" cols="30" rows="10"
                            placeholder="Descripcion"
                            formControlName="descripcion"
                            [ngClass]="{'is-invalid': Descripcion?.errors && Descripcion?.touched, 'is-valid': !Descripcion?.errors && Descripcion?.touched}"
                          
                            id="descripcion" name="descripcion" [(ngModel)]="descripcion" required
                        ></textarea>
                        <div *ngIf="Descripcion?.errors && Descripcion?.touched">
                            <p *ngIf="Descripcion?.hasError('required')" class="text-danger">
                                la descripcion es requerida
                            </p>
                        </div>
                    </div>

                    <label for="img">imagen</label>
                    <input 
                        (change)="uploadImage($event)"
                        accept=".jpg, .jpeg, .png"
                        type="file" 
                        class="form-control" 
                        id="img" name="img" 
                        [(ngModel)]="img"
                        required
                        formControlName="img"
                        [ngClass]="{'is-invalid': Img?.errors && Img?.touched, 'is-valid': !Img?.errors && Img?.touched}"
                      
                    >
                    <div *ngIf="Img?.errors && Img?.touched">
                        <p *ngIf="Img?.hasError('required')" class="text-danger">
                            la imagen es requerida
                        </p>
                    </div>

                    <label for="giturl">Link GitHub</label>
                    <input 
                    formControlName="giturl"
                    [ngClass]="{'is-invalid': Giturl?.errors && Giturl?.touched, 'is-valid': !Giturl?.errors && Giturl?.touched}"
                 
                    type="text" class="form-control" id="giturl" name="giturl" [(ngModel)]="giturl" required>
                    <div *ngIf="Giturl?.errors && Giturl?.touched">
                        <p *ngIf="Giturl?.hasError('required')" class="text-danger">
                            el link de GitHub es requerido
                        </p>
                    </div>

                    <label for="weburl">Link web</label>
                    <input 
                    formControlName="weburl"
                    [ngClass]="{'is-invalid': Weburl?.errors && Weburl?.touched, 'is-valid': !Weburl?.errors && Weburl?.touched}"
                 
                    type="text" class="form-control" id="weburl" name="weburl" [(ngModel)]="weburl" required>
                    <div *ngIf="Weburl?.errors && Weburl?.touched">
                        <p *ngIf="Weburl?.hasError('required')" class="text-danger">
                            el link de la web es requerido
                        </p>
                    </div>
                    
                </div>

                <div class="buttons-container">
                    <button class="btn btn-danger mt-3 align-items-center" routerLink="">
                        Volver
                    </button>
                  
                    <button 
                    [disabled]="saveImage || !img"
                   
                    class="btn btn-danger mt-3 align-items-center" >
                        Agregar Proyecto
                    </button>
                </div>
            </form>        
        </div>
    </div>
</div>
