<nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container-fluid">
        <div class="titleMobile">
            <h5 class="title">  <span><</span>Ezequiel Zapata<span>/></span></h5>
            <div class="subtitle">Full Stack Developer</div>
        </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav " style="--bs-scroll-height: 90vh;"  >
            <ul class="navbar-nav " >

                <li class="nav-item" >
                  <div class="nav-link" (click)="toAbout()" aria-current="page" href="#">Sobre mi</div>
                </li>
                <li class="nav-item">
                  <div class="nav-link" (click)="toProject()">Proyectos</div>
                </li>
            </ul>

            <ul class="navbar-nav brand" id="brand"  *ngIf="persona">
                <div (click)="toHeader()" class="nav-link">
                  <img [src]="persona.img" alt="" class="brand-img" id="brand-img">
                  <li class="brand-txt" id="brand-txt">
                        <h5 class="brand-title" >  <span><</span>{{ persona.nombre }} {{ persona.apellido }}<span>/></span></h5>
                        <div class="brand-subtitle">Full Stack Developer</div>
                    </li>
                </div>
            </ul>
            <ul class="navbar-nav ">

                <li class="nav-item">
                  <div (click)="toSkill()" class="nav-link" >Habilidades</div>
                </li>
                <li class="nav-item">
                  <div (click)="toContact()" class="nav-link" >Contacto</div>
                </li>
            </ul>

        </ul>

      </div>
    </div>
  </nav>