<div class="login-container">
    <div class="container ">

        <button routerLink="" class="btn btn-danger back">Volver al Portfolio
        </button>

        <div class="login">

            <form [formGroup]="form" #f="ngForm" (ngSubmit)="onLogin($event)" novalidate>
                <h1 class="">Iniciar Sesión</h1>

                <div class="mb-3">
                    <label for="nombreUsuario" class="form-label">Usuario</label>
                    <input 
                        type="text" 
                        name="nombreUsuario" 
                        class="form-control" 
                        id="nombreUsuario"
                        aria-describedby="emailHelp"
                        [(ngModel)]="nombreUsuario" required
                        formControlName="nombreUsuario"
                        [ngClass]="{'is-invalid': NombreUsuario?.errors && NombreUsuario?.touched, 'is-valid': !NombreUsuario?.errors && NombreUsuario?.touched}"

                        >
                </div>
                <div *ngIf="NombreUsuario?.errors && NombreUsuario?.touched">
                    <p *ngIf="NombreUsuario?.hasError('required')" class="text-danger">
                        el nombre de usuario es requerido
                    </p>
                    <p *ngIf="!NombreUsuario?.hasError('required') && NombreUsuario?.errors" class="text-danger">
                        minimo 3 caracteres
                       
                    </p>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input 
                        type="password" 
                        class="form-control" 
                        name="password"
                        id="password"
                        [(ngModel)]="password" required
                        formControlName="password"
                        [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}"
                    >

                </div>
                <div *ngIf="Password?.errors && Password?.touched">
                    <p *ngIf="Password?.hasError('required')" class="text-danger">
                        la contraseña es requerida
                    </p>
                    <p *ngIf="!Password?.hasError('required') && Password?.errors" class="text-danger">
                        minimo 4 caracteres
                       
                    </p>
                </div>

                <button type="submit" class="btn btn-danger env">Enviar</button>
            </form>
        </div>
    </div>
</div>