<div class=" add-skill-container">
    <div class="container skill">
        <h1 class="title-skill">Actualizar Skill</h1>

        <div class="row skill-box">
            <form [formGroup]="form" (ngSubmit)="onUpdate($event)" novalidate #f="ngForm" class="col-12 col-sm-8 col-lg-5">
    
                <!-- <div class="imagen" *ngIf="imgService.url">
                    <img [src]="imgService.url" alt="" width="200px">

                </div>
                <div class="imagen" *ngIf="!imgService.url">
                    <img 
                        src="https://firebasestorage.googleapis.com/v0/b/devzedportfolio.appspot.com/o/imagen%2Fdefault-placeholder.png?alt=media&token=4c202c29-27ec-450c-b4a5-78eebd195f5a" 
                        alt="" width="200px"
                    >

                </div> -->
                <div class="form-group">
                    <label for="nombre">Nombre skill</label>
                    <input 
                    formControlName="nombre"
                    [ngClass]="{'is-invalid': Nombre?.errors && Nombre?.touched, 'is-valid': !Nombre?.errors && Nombre?.touched}"
                   
                    type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="skill.nombre"  required="">
                    <div *ngIf="Nombre?.errors && Nombre?.touched">
                        <p *ngIf="Nombre?.hasError('required')" class="text-danger">
                            el nombre es requerido
                        </p>
                    </div>

                    <label for="porcentaje">Porcentaje</label>
                    <input 
                    formControlName="porcentaje"
                    [ngClass]="{'is-invalid': Porcentaje?.errors && Porcentaje?.touched, 'is-valid': !Porcentaje?.errors && Porcentaje?.touched}"
                    
                    type="number" class="form-control" id="porcentaje" name="porcentaje"  [(ngModel)]="skill.porcentaje" required="">
                    <div *ngIf="Porcentaje?.errors && Porcentaje?.touched">
                        <p *ngIf="Porcentaje?.hasError('required')" class="text-danger">
                           el porcentaje es requerido
                        </p>
                    </div>

                    <label for="img">imagen</label>
                    <input 
                        (change)="uploadImage($event)"
                        accept=".jpg, .jpeg, .png"
                        type="file" 
                        class="form-control" 
                        id="img" name="img" 
                        [(value)]="form.value.img"
                        required
                        formControlName="img"
                        [ngClass]="{'is-invalid': Img?.errors && Img?.touched, 'is-valid': !Img?.errors && Img?.touched}"
                        
                    >
                    <div *ngIf="Porcentaje?.errors && Porcentaje?.touched">
                        <p *ngIf="Porcentaje?.hasError('required')" class="text-danger">
                           la imagen es requerida
                        </p>
                    </div>

                </div>

                <div class="buttons-container">
                    <button class="btn btn-danger mt-3 align-items-center" routerLink="">
                        Volver
                    </button>

                    <!-- <button 
                    *ngIf="!imgService.url"
                    disabled
                    class="btn btn-danger mt-3 align-items-center" >
                        Agregar Proyecto
                    </button> -->

                    <button 
                     [disabled]="saveImage"                
                    class="btn btn-danger mt-3 align-items-center" >
                        Actualizar Skill
                    </button>
                </div>
            </form>        
        </div>
    </div>
</div>
