<section class="section mt-5 skills" id="skills">

    <div class="container skill-container">
        <div class="position-relative d-flex align-items-center justify-content-center col-12">
            <h2 class="display-1 text-uppercase text-white title-section" style="-webkit-text-stroke: 1px #dee2e6;" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">Habilidades</h2>
            <h2 class="display-2  position-absolute text-uppercase text-primary subtitle-section" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">Mis Habilidades</h2>
            <button class="btn btn-danger add-btn" type="button" routerLink="/newskill" *ngIf="isAdmin" >
                <fa-icon [icon]="faPlus" class="admin-icon "></fa-icon>
            </button>
        </div>

        <div class="row justify-content-center">

            <div class="col-sm-4 col-md-4 col-lg-2 circle-container" *ngFor="let skill of skill" data-aos="zoom-in-left" data-aos-duration="1000" data-aos-once="true">
                <div class="icon-container " *ngIf="isAdmin">
              
                    <fa-icon 
                        routerLink="/editskill/{{ skill.id }}"
                        [icon]="faPenToSquare" 
                        class="admin-icon edit-icon"
                    >
                    </fa-icon>
    
                    <fa-icon 
                        (click)="delete(skill.id)"
                        [icon]="faTrashCan" 
                        class="admin-icon delete-icon"
                    >
                    </fa-icon>
    
                </div>
                <circle-progress
                    [percent]="(skill.porcentaje)"
                    [radius]="80"
                    [showImage]="true"
                    [imageSrc]="(skill.img)"
                    [imageHeight]="90"
                    [imageWidth]="90"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#dc3545'"
                    [innerStrokeColor]="'#f85d72'"
                    [animation]="true"
                    [animationDuration]="720"
                    class="asd"
                ></circle-progress> 


   

            </div>

        </div>

    </div>
</section>
