<section class="section mt-5 skills" id="skills">

    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center col-12">
            <h2 class="display-1 text-uppercase text-white title-section" style="-webkit-text-stroke: 1px #dee2e6;">Habilidades</h2>
            <h2 class="display-2  position-absolute text-uppercase text-primary subtitle-section">Mis Habilidades</h2>
        </div>
        <!-- <h2 class="mb-5"><span class="text-danger">Mis</span> Habilidades</h2> -->
        <!-- Principales -->
        <div class="row">
            <!-- Desarrollo  -->
            <div class="col-lg-4">
                <div class="card">
                   <div class="card-header">
                        <div class="mt-2">
                            <h4>Desarrollo</h4>
                            <span class="line"></span>  
                        </div>
                    </div>
                    <div class="card-body container">
                        
                        <div class="row gy-2">
                            <div class="col-4 img-content" data-bs-toggle = "tooltip" title = "JavaScript">
                                <img src="assets/imgs/skills/js.png" alt=""  >
                            </div>
                            <div class="col-4 img-content" data-bs-toggle = "tooltip" title = "TypeScript">
                                <img src="assets/imgs/skills/ts.png" alt="">
                            </div>
                            <div class="col-4 img-content" data-bs-toggle = "tooltip" title = "React.js">
                                <img src="assets/imgs/skills/react.png" alt="">
                            </div>
                            <div class="col-4 img-content" data-bs-toggle = "tooltip" title = "Next.js">
                                <img src="assets/imgs/skills/next.png" alt="">
                            </div>
                            <div class="col-4 img-content" data-bs-toggle = "tooltip" title = "Node.js">
                                <img src="assets/imgs/skills/node.png" alt="">
                            </div>
                            <div class="col-4 img-content" data-bs-toggle = "tooltip" title = "MySqL">
                                <img src="assets/imgs/skills/mysql.png" alt="">
                            </div>
                            <div class="col-4 img-content" data-bs-toggle = "tooltip" title = "MongoDB">
                                <img src="assets/imgs/skills/mongo.png" alt="">
                            </div>
                            <div class="col-4 img-content" data-bs-toggle = "tooltip" title = "Firebase">
                                <img src="assets/imgs/skills/firebase.png" alt="">
                            </div>
                            <div class="col-4 img-content" data-bs-toggle = "tooltip" title = "Visual Studio Code">
                                <img src="assets/imgs/skills/vsc.png" alt="">
                            </div>

                        </div>
                        
                    </div>

                </div>
            </div>
            <!-- Maquetado -->
            <div class="col-lg-4">
                <div class="card">
                   <div class="card-header">
                        <div class="mt-2">
                            <h4>Maquetado</h4>
                            <span class="line"></span>  
                        </div>
                    </div>
                    <div class="card-body container">
                        
                        <div class="row gy-2">
                            <div class="col-4 img-content" data-bs-toggle = "tooltip" title = "HTML5">
                                <img src="assets/imgs/skills/html.png" alt="">
                            </div>
                            <div class="col-4 img-content" data-bs-toggle = "tooltip" title = "CSS3">
                                <img src="assets/imgs/skills/css.png" alt="">
                            </div>
                            <div class="col-4 img-content" data-bs-toggle = "tooltip" title = "Sass">
                                <img src="assets/imgs/skills/sass.png" alt="">
                            </div>
                            <div class="col-4 img-content" data-bs-toggle = "tooltip" title = "Material UI">
                                <img src="assets/imgs/skills/material.png" alt="">
                            </div>
                            <div class="col-4 img-content" data-bs-toggle = "tooltip" title = "Bootstrap">
                                <img src="assets/imgs/skills/bootstrap.png" alt="">
                            </div>
                            <div class="col-4 img-content" data-bs-toggle = "tooltip" title = "Materialize">
                                <img src="assets/imgs/skills/materialize.png" alt="">
                            </div>
                            <div class="col-4 img-content" data-bs-toggle = "tooltip" title = "Tailwind">
                                <img src="assets/imgs/skills/tailwind.png" alt="">
                            </div>
                            <div class="col-4 img-content" data-bs-toggle = "tooltip" title = "Next UI">
                                <img src="assets/imgs/skills/nextui.png" alt="">
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- Organizacion -->
            <div class="col-lg-4">
                <div class="card">
                   <div class="card-header">
                        <div class="mt-2">
                            <h4>Organización</h4>
                            <span class="line"></span>  
                        </div>
                    </div>
                    <div class="card-body container">
                        
                        <div class="row gy-2">
                            <div class="col-4 img-content" data-bs-toggle = "tooltip" title = "git">
                                <img src="assets/imgs/skills/git.png" alt="">
                            </div>
                            <div class="col-4 img-content" data-bs-toggle = "tooltip" title = "GitHub">
                                <img src="assets/imgs/skills/github.png" alt="">
                            </div>
                            <div class="col-4 img-content" data-bs-toggle = "tooltip" title = "Slack">
                                <img src="assets/imgs/skills/slack.png" alt="">
                            </div>
                            <div class="col-4 img-content" data-bs-toggle = "tooltip" title = "Trello">
                                <img src="assets/imgs/skills/trello.png" alt="">
                            </div>
                            <div class="col-4 img-content" data-bs-toggle = "tooltip" title = "Scrum">
                                <img src="assets/imgs/skills/scrum.png" alt="">
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
        <!-- Secundarios -->
        <!-- <div >
            <div class="card">
                <div class="card-header">
                    <div class="mt-2">
                        <h4>Otros</h4>
                        <span class="line"></span>  
                    </div>
                </div>

                <div class="card-body ">
                    
                    <div class="row gy-2">
                        <div class="col-4 col-sm-3 col-md-2 col-lg-1 img-content">
                            <img src="assets/imgs/skills/js.png" alt="">
                        </div>
                        <div class="col-4 col-sm-3 col-md-2 col-lg-1 img-content">
                            <img src="assets/imgs/skills/ts.png" alt="">
                        </div>
                        <div class="col-4 col-sm-3 col-md-2 col-lg-1 img-content">
                            <img src="assets/imgs/skills/react.png" alt="">
                        </div>
                        <div class="col-4 col-sm-3 col-md-2 col-lg-1 img-content">
                            <img src="assets/imgs/skills/next.png" alt="">
                        </div>
                        <div class="col-4 col-sm-3 col-md-2 col-lg-1 img-content">
                            <img src="assets/imgs/skills/node.png" alt="">
                        </div>
                        <div class="col-4 col-sm-3 col-md-2 col-lg-1 img-content">
                            <img src="assets/imgs/skills/mysql.png" alt="">
                        </div>
                        <div class="col-4 col-sm-3 col-md-2 col-lg-1 img-content">
                            <img src="assets/imgs/skills/mongo.png" alt="">
                        </div>
                        <div class="col-4 col-sm-3 col-md-2 col-lg-1 img-content">
                            <img src="assets/imgs/skills/firebase.png" alt="">
                        </div>
                        <div class="col-4 col-sm-3 col-md-2 col-lg-1 img-content">
                            <img src="assets/imgs/skills/vsc.png" alt="">
                        </div>

                    </div>
                    
                </div>

            </div>

        </div> -->
    </div>
</section>
